body {
  @extend %system_normal--300;
}

a {
  cursor: pointer;
  text-decoration: underline;  

  &:hover {
    text-decoration: none; 
  }
}

h2 {
  @extend %padd--4;
  background-color: #fff; // temp bg
}

header.container-fluid,
footer.container-fluid {
  background-color: #ccc;
}

.main_app_status {
  @include center-both;
}

// 
// ==================================================/

.apilist {
  @extend %padd--4;
  background-color: #666;
}

.apilist_display {
  padding-left: 4px;
}

// apilist_categories nav
// ==================================================/
@mixin apilist_categories_theme() {
  .apilist_categories {
    a {    
      color: #d5d5d5;

      &:hover {
        color: #fff;
      }
    }

    li {
      background-color: #2c2d32;  
      border-bottom: 1px solid #5c5d60;

      &:nth-of-type(odd) {
        background-color: #343437;
      }
    }
  }
}
@include apilist_categories_theme();

.apilist_categories {
  a {
    @extend %display--inline-block;
  }

  .apilist_categories_count {
    @extend %display--inline-block;
    background-color: #ccc;
    padding: 0 2px 0 2px; /* trbl */
    }

  li {
    @extend %padd--6;
    height: 34px;
    cursor: pointer;
    
    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      a {
        color: #fff;
        text-decoration: none;  
      }
    }
  }
}

// auth filter
// ==================================================/
.authtype_filter {
  @extend %padd--4;
  background-color: #eee;
  height: inherit;
}

// api status
// ==================================================/
.api_status_holder {
  margin-top: 4px;
}

.api_status {
  @extend %padd--4;
  background-color: #eee;
}

// search
// ==================================================/
.apilist_search_holder {
  @extend %padd--4;
  margin-left: 4px;
  background-color: #eee;
}

.apilist_search {
  @extend %display--block;
  margin-bottom: 4px;
  label {
    @extend %display--inline-block;
  }

  input[type="text"] {
    @extend %display--inline-block;
    @extend %padd--4;
    height: 30px;
    border: 1px solid #000;
    background-color: #fff;

    &:focus {
        border: 1px solid;
        border-color: #c4c4c4 #d1d1d1 #d4d4d4;
        outline: 1px solid blue;
        background-color: #eee;
      }
  }
}

// sorter/table
// ==================================================/
.apilist_sorter {
  @extend %padd--4;
  margin-top: 4px;
  background-color: #eee;
  border-bottom: 1px solid pink;
  // height: 36px;

  p {
    @extend %display--inline-block;
    @extend %padd--4;
  }

}

.apilist_holder {
  background-color: #eee;
}

.apilist_table {
  tr {
    border-bottom: 1px solid #000;
  }

  td {
    @extend %padd--4;
  }  
}

// pager controls
// ==================================================/
.pg_holder {
  @extend %display--inline-block;
  border: 1px solid #fff;
  
  .custom-select {
    vertical-align: middle;
  }

  .btn {
    height: 30px;
    vertical-align: middle;
  }

  p {
    @extend %display--inline-block;
    vertical-align: middle;
  }
}

// mobile portrait (320x480) 
@include mq($from: mobile) {
  .pg_totalpages {
    width: 100%;
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .pg_totalpages {
    height: 30px;
    vertical-align: baseline;
    width: auto;  
  }

  .pg_totalpages {
    margin-left: -1px;
  }
}

// pg_itemsperpage
// mobile portrait (320x480) 
@include mq($from: mobile) {
  .pg_itemsperpage {
    width: 100%;
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .pg_itemsperpage {
    height: 30px;
    // vertical-align: text-bottom;
    width: auto;  
  }

  .pg_itemsperpage {
    margin-left: -1px;
  }
}